[Desktop Entry]
Encoding=UTF-8
Name=DividendCash
Comment=DividendCash P2P Cryptocurrency
Comment[fr]=DividendCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DividendCash, eşten eşe kriptografik sanal para birimi
Exec=dividendcash-qt %u
Terminal=false
Type=Application
Icon=dividendcash128
MimeType=x-scheme-handler/dividendcash;
Categories=Office;Finance;
